#mainArea{
  margin-left: 4%;
  margin-top: 200px;
}

#farmerProfile{
  float:left;
  display:inline-block;
  width:45%;
  height:250px;
}

#farmerProfile:after{
  clear:left;
}

#farmerMessage{
  border:solid thin black;
  width:100%;
  height:80%;
}

#userComments{
  width:30%;
  text-align: center;
  display:inline-block;
  float:right;
  margin-right: 10%;
  height:250px;
}

#userComments:after {
  clear:right;
}

#commentText{
  border:solid thin black;
  width:100%;
  height:200px;
  border-radius: 10px;
}

#FAQbox{

  display:inline-block;
  float:left;
  width :45%;
  height:200px;
  margin-top: 15px;
}

#videoSection{

  text-align: center;
  display:inline-block;
  float:right;
  margin-right: 13%;
  height:auto;
  margin-top: 15px;
}

#video{
    border-radius: 10px;
}

h3{
  margin-bottom: 8px;
}
