html{
  background-color: #E7f3ff; 
}

#item,#farmer{
	background-color:#ffffe6;
	overflow: scroll;
	height:200px;
}
#farmer{
	margin-top: 10px;
}



#itemAndFarmer{
	margin-top:25px;
	margin-right:10%;
	display: inline-block;
	float: left;
	width: 25%;
}

#shape{
	max-width: 60%;
}
#shopLayout{
	margin-top: 25px;
	position:relative;
	display: inline-block;
	width:60%;
}
#seaFoodArea{
	width:735px;
	height:375px;
	border:solid;
	position: absolute;
	background-image: url("../img/background-seafood.jpg");
}
#vegArea{
	width:432px;
	height:432px;
	border:solid;
	position: absolute;
	background-image: url("../img/background-veg.jpg");
}
#meatArea{
	width:430px;
	height:456px;
	border:solid;
	position:absolute;
	background-image: url("../img/background-meat.png");
}
#restaurant{
	width:572px;
	height: 70px;
	border: solid;
	position: absolute;
	background-image: url("../img/background-restaurant.png");
}
.area{
	display: none;
}