h4{
	border: 0px;
	margin: 0px;
	padding:0px;
}

#map{
	width:100%;
	height: 100px;
	background-color: grey;
}

#marketInfo{
	width:30%;
	height: 80%;
	display: inline-block;
	float: left;
	margin:10px;
}

#marketLayout{
	width: 60%;
	height: 80%;
	margin:10px;
	display: inline-block;
}
#myCanvas{

 	margin-top: 50px;
 	margin-left: 40px;
 	border:1px solid #000000;
}
.shape{
	display: none;
}

