.logo {
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}
#google_map{
	height: 400px;
    width:100%;
 
   
}
.main_navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    width: 80%;
	right: 0;
    top: 70px;
    position: absolute;


}
.header {
    position: relative ;
    top:0px;
    height:160px;
}
.main_navigation_item {
    display: inline-block;
}

.main_navigation_item .main_navigation_link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main_navigation_item a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.secondary_navigation{
	list-style-type: none;
    margin-right: 0;
    padding: 0;
    background-color: yellow;
    overflow: hidden;
    border-radius: 15px;
    width: 155px;
    position: absolute;
    right:0;
}

.secondary_navigation_item .secondary_navigation_link {
    display: block;
    text-align: center;
    padding: 4px ;
    text-decoration: none;
}
.secondary_navigation_item {
    display: inline-block ;
}

